<!DOCTYPE html>
<footer class="bg-Secondary py-4">
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="assets/images/logo2.png" alt="Profstudent" class="img-fluid mb-3">
        </div>
        <div class="col-md-4">
          <h3>À propos</h3>
          <ul class="list-unstyled">
            <li><a href="#" class="text-dark">Qui sommes-nous ?</a></li>
          </ul>
          <h3>Contact</h3>
          <ul class="list-unstyled">
            <li><a href="mailto:abdallahiluli79@gmail.com" class="text-">contact&#64;educlik.com</a></li>
            <li><a href="tel:+330123456789" class="text-dark">+222 31 17 70 08</a></li>
            <li><a href="#" class="text-dark">Facebook</a></li>
            <li><a href="#" class="text-dark">Instagram</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Lancez-vous</h3>
          <ul class="list-unstyled">
            <li><a href="#" class="text-dark">S'inscrire</a></li>
            <li><a href="#" class="text-dark">Se connecter</a></li>
            <li><a href="#" class="text-dark">Enseignez</a></li>
          </ul>
         
        </div>
      </div>
    </div>
  </footer>
  