<!DOCTYPE html>
<header>
  <div class="logo">
    <img [src]="logoUrl" alt="Profstudent Logo" width="100px" height="auto">
  </div>

  <!-- Menu Hamburger pour mobile -->
  <div class="menu-toggle" (click)="toggleMenu()">☰</div>

  <!-- Menu principal (visible sur les écrans PC) -->
  <nav class="desktop-nav">
    <ul>
      <li><a href="#">Catégories</a></li>
      <li><a href="javascript:void(0)" (click)="triggerSearch($event)">Trouvez votre professeur</a></li>
      <li><a href="#">Enseignez sur Profstudent</a></li>
      <li>
        <select>
          <option value="fr">Français</option>
          <option value="en">English</option>
        </select>
      </li>
      <li><button>Se connecter</button></li>
      <li><button>S'inscrire</button></li>
    </ul>
  </nav>

  <!-- Sidebar (menu mobile) -->
  <nav [class.active]="menuOpen" class="sidebar">
    <ul>
      <li><a href="javascript:void(0)" (click)="triggerSearch($event)">Trouvez votre professeur</a></li>
      <li><a href="#">Catégories</a></li>
      <li><a href="#">Enseignez sur Profstudent</a></li>
      <li>
        <select>
          <option value="fr">Français</option>
          <option value="en">English</option>
        </select>
      </li>
      <li><button>Se connecter</button></li>
      <li><button>S'inscrire</button></li>
    </ul>
  </nav>
</header>
