<!DOCTYPE html>

<header>
    <div class="logo">
      <img src="assets/images/logo.png" alt="Profstudent Logo" width="100px"  he>
      <h1>--</h1>
    </div>
    <nav>
      <ul>
        <li><a href="#">Catégories</a></li>
        <!-- <li><a href="#">FAQ</a></li> -->
        <li><a href="#">Trouvez votre professeur</a></li>
        <li><a href="#">Enseignez sur Profstudent</a></li>
        <!-- <li><a href="#">Blog</a></li> -->
        <li>
          <select>
            <option value="fr">Français</option>
            <option value="en">English</option>
          </select>
        </li>
        <li><button>Se connecter</button></li>
        <li><button>S'inscrire</button></li>
      </ul>
    </nav>
  </header>
  